[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==2.2"
psycopg2-binary = "==2.8.6"
requests = "==2.26.0"
httmock = "==1.4"
python-decouple = "==3.4"
jsonfield = "==3.1"
coverage = "==5.5"
pycodestyle = "==2.7"
djangorestframework = "==3.12"
requests-cache = "==0.7"
pylint = "==2.7"
pylint-django = "==2.2"

[dev-packages]

[requires]
python_version = "3.8"
